  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #aeabb1;
    color:black;
}

.titulo__destaque {
    color: #f2e8e1;
}

.apresentacao{ 
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links{

    display: flex;
    justify-content: space-between;
}

.icon {
    text-decoration: none;
    background-color: #f2e8e1;
    color: black;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
    width: 52px;
    height:52px;
}

.perfil{
    width: 300px;
    margin-bottom: 12%;
    height:600px;
    border-radius: 50px;
    
}