  :root {
      --cor-background: #1B1B1B;
      --cor-secundaria: #8D7867;
      --cor-terciaria: #2E2E2E;
      --cor-background-logo: #D9D9D9;
      --font: 'Poppins', sans-serif;
    
  }

  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Poppins:wght@400;700&display=swap');

* {

      margin: 0;
      padding: 0;
  }

  body {
      box-sizing: border-box;
      background-color: var(--cor-background);
      font-family:var(--font);
      font-size: 16px;

  }


  .titulos {
    color: var(--cor-secundaria);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10% 0 15% 5%;    

  }

  .card__principal {
    display: flex;
    background-color: var(--cor-terciaria);
    margin: 2rem 0.5rem;
    border-radius: 1em;
    justify-content: space-between;
    gap: 5%;
  }


  .logo{
    padding: 15% 35% 15% 15%;
    margin: 45% 0 0 -5%;
    width: 10rem;    
    background-color: var(--cor-background-logo);
    border-radius: 0 60px 60px 0;   
    
  }

  .perfil{        
    width: 12rem;
  }

  .card_botoes {
    display: flex;
    flex-direction: column;      
    border-radius: 1em;
    justify-content: center;    
    align-items: center;
    gap: 10px; 
    
    
  }

  .botao{
    background-color: var(--cor-background-logo);
    width: 250px; 
    padding: 10px;
    border-radius: 60px; 
    text-align: center; 

      
    
  }

  .botao_texto{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--cor-background);
    text-decoration: none;
  }

  .icon{
    width: 20px;
  }