  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #e3e3e3;
    color:#9e8d7e;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    
}

.apresentacao{ 
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {

    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon {
    width: 56px;    
    margin: 5%;
}

.icon__whatsapp {
    width: 62px; 
    margin: 5%;
}

.perfil {
    width: 300px;
    height:400px;
    border-radius: 20px;
    
}

.logo{
    margin: 10% 15%;
    width: 300px;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.titulos {

    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    color:#766d61;
    display: flex;
    align-items: center;
    justify-content: space-between;

}